#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact--container {
  display: flex;
  width: 1360px;
  background-color: var(--gray-600);
  border-radius: 8px;
  margin-top: 128px;
  padding: 72px;
  gap: 136px;
}

.contact--container div {
  width: 592px;
}

.profile--image {
  border-radius: 50%;
  height: 96px;
  width: 96px;

  border: 2px solid var(--color-red);
}

.contact--container div > p:first-of-type {
  color: var(--color-red);
  font-size: 16;
  line-height: 120%;
  font-family: Inconsolata;
  margin-top: 40px;
  margin-bottom: 8px;
}

.contact--container div > p:last-of-type {
  color: var(--gray-300);
  font-size: 16px;
  line-height: 140%;
  margin-top: 20px;
  font-weight: bold;
}

.contact--container h1 {
  color: var(--gray-100);
  font-size: 24px;
  line-height: 120%;
  font-size: Asap;
  font-weight: bold;
}

.container--tags {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.contact--container div a {
  width: 48px;
  height: 48px;
  background-color: var(--gray-400);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.9;
}

.contact--container div a:hover {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.contact--container div a img {
  width: 24px;
  height: 24px;
}

.form--container form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form--container form input {
  width: 488px;
  padding: 12px 16px;
  border-radius: 6px;
  outline: none;
  border: 1px solid transparent;
  background-color: var(--gray-500);
  color: var(--gray-100);
  font-size: 16px;
}

.form--container form input:focus {
  border: 1px solid var(--gray-100);
}

.form--container form input::placeholder {
  font-size: 16px;
}

.form--container form button {
  padding: 16px 24px;
  cursor: pointer;
  color: var(--gray-100);
  background-color: var(--gray-400);
  border: none;
  font-family: Asap;
  font-weight: bold;
  border-radius: 8px;
  width: 160px;
  opacity: 0.9;
}

.form--container form button:hover {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.form--container form textarea {
  color: var(--gray-100);
  font-size: 16px;
  font-family: Asap;
}

.form--container form textarea::placeholder {
  font-size: 16px;
}

#message {
  height: 160px;
  background-color: var(--gray-500);
  color: var(--gray-100);
  outline: none;
  border: none;
  padding: 12px 16px;
}

#message:focus {
  border: 1px solid var(--gray-100);
}
